###> phpstorm ###
.idea
###< phpstorm ###

###> phpunit ###
.phpunit.result.cache
phpunit.xml
###< phpunit ###

composer.lock
vendor

###> php-cs-fixer ###
.php_cs
.php_cs.cache
###< php-cs-fixer ###

###> psalm ###
psalm.xml
###< psalm ###
